<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true">
  <targets>
    <target name="debugger" xsi:type="Debugger" layout="${longdate}||${logger}||Message:${message}||${exception:format=ToString}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${shortdate} ${logger}\nMessage:${message}\n${exception:format=ToString}"/>
    <target name="file" xsi:type="File" layout="${longdate}||${logger}||Message:${message}||${exception:format=ToString}"
            fileName="C:\logs\superHeroBoundedContext_${longdate:cached=true}.log"
            archiveFileName="C:\logs\archive\superHeroBoundedContext_.${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering = "Rolling"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="20"
            archiveAboveSize="1000000"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>